In [2]:

def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

isiterable(6)

False

In [5]:
#some_module.py
PI = 3.14159
def f(x):
    return x+2

def g(a, b):
    return a+b

In [6]:
#listis are mutable
a_list =['foo', 2, [4, 5]]
a_list[2] = (6,8)
a_list

['foo', 2, (6, 8)]

In [7]:
# Tuples and strings are not mutable
a_tuple =(3,5,(8, 9))
a_tuple[1]= 'four'

TypeError: 'tuple' object does not support item assignment

In [9]:
c="""
This is a multi line string :)
cheers for me

"""
c.count('\n')

4

In [10]:
a = "this is a string"
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [13]:
s = 'python'
list(s)
s[:3]

'pyt'

In [14]:
s = '2\\4'
print(s)

2\4

In [15]:
s =r'this\has\no'
s

'this\\has\\no'

In [16]:
team='{0:.2f} {1:s} are worth US${2:d}'
team.format(4.54565, 'Iraqi Dinner', 1)

'4.55 Iraqi Dinner are worth US$1'

In [19]:
def add_and(a,b , c=None):
    result = a+b
    if c is not None:
        result= result*c
        
    return result


add_and(1,2)

3

In [21]:
#for loop
seq =[1, 2, None, 4,None, 5]
total = 0
for value in seq:
    if value is None:
        continue
    total += value
    
total

12

In [23]:
sq = [1,2,0,4,6,5,2,1]
total_5 =0
for val in sq:
    if val ==5:
        break
    total_5 += val
    
total_5

13

In [28]:
#pass
x=0

if x<0:
    print('negative')
elif x==0:
    print('Zero !!!!')
    pass
else:
    print('positive')

Zero !!!!

In [34]:
range(10)
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [33]:
squ = [1,2,3,4]
for i in range(len(squ)):
    val = squ[i]


print(val)

4

In [35]:
sum =0
for i in range(100000):
    if i % 3 ==0 or i % 5 ==0:
        sum += i
        
sum

2333316668

In [36]:
#ternary expretion

x= -6

'Non-Negative' if x >= 0 else 'Negative'

'Negative'

In [3]:
nested_tuple=([1,2,3,4])
tuple(nested_tuple)
tup  = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup = tuple(['foo', [1,2], True])
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [10]:
a = (1, 2, 3)
b = ('bar',)
c=('foo', 4, None)

d= a+b+c
d

('foo',)*4

('foo', 'foo', 'foo', 'foo')

In [18]:
#swapping in python

a,b = 1,2
a
b
b,a = a,b
a

2

In [24]:
tup = 1,2,('fatima',3),'gf'
a,b,c,d = tup
c

('fatima', 3)

In [25]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a,b,c in seq:
    print('a={0}, b{1}, c{2}'.format(a,b,c))

a=1, b2, c3
a=4, b5, c6
a=7, b8, c9

In [28]:

# the *rest
values = 1,2,3,4,5,6,7
a, b, *_ = values
_

[3, 4, 5, 6, 7]

In [30]:
a = (2,4,2,6,2,8)
a.count(2)

3

In [42]:
# list use []

a_list = [1,2,3,4,None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)

b_list[1] = 'peekedaba'

# use insert an element in a spesific place
b_list.insert(1, 'red')
b_list.pop(3)
b_list

['foo', 'red', 'peekedaba']

In [50]:
x = ['saw', 'small', 'He', 'foxes', 'six']
x.sort(key = len)
a

(2, 4, 2, 6, 2, 8)

In [55]:
#binary search
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [71]:
#slicing

seq = [1, 2, 4,3,5, 6, 7, 9]
seq[2:5] = [6,6]
seq[::2]  # pass by 2
seq[::-1]  # reversing it

[9, 7, 6, 6, 6, 2, 1]

In [73]:
# mapping
some = ['foo', 'bar', 'baz']
mapping={}
for i,v in enumerate(some):
    mapping[v] = i
    
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [76]:
sorted('horse race')

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
seq3 = [False, True]

zipped = zip(seq1, seq2,seq3)
list(zipped)

[('foo', 'one', False), ('bar', 'two', True)]